#NOTE: Copy this file to ".env" customise it with your basic auth credentials
#see the readme for more info
#do NOT check the resulting file into source control :)

# You'll need to
# Get from Google Developer Console https://console.developers.google.com
GOOGLE_CLIENT_ID = "XXXXXXXXXXXXXXXXX"
GOOGLE_CLIENT_SECRET = "XXXXXXXXXXXXXXXXX"

#update this for your other environments!
#insane I had to do this... (found after hours of mucking around)
#https://github.com/zquestz/omniauth-google-oauth2/issues/181#issuecomment-114635065
GOOGLE_AUTH_REDIRECT_URL = "http://localhost:5000/auth/google_oauth2/callback"

#ID for google analytics
GOOGLE_ANALYTICS_ID = "UA-XXXXXXXXX-X"
