#NOTE: Copy this file to ".env" customise it with your basic auth credentials
#see the readme for more info
#do NOT check the resulting file into source control :)

BASIC_AUTH_PASSWORD=someuser
BASIC_AUTH_USERNAME=somepassword
