markdown:

  # About this tool
  <p class="lead">This is a pre-alpha sketch for how GDS might share it's 2016/17 goals with the wider world. The aim is to make it simple for people to find out how our goals align to deliver our broader vision, who's doing what, and how well each team and group is delivering. It's very early days and is being developed without a service delivery team but with your input, it will get better!</p>

  ## FAQ
  ### Can I share this info publicly?
  Please don't, just yet. This way of setting and tracking goals is new for GDS so we'd like to work out some of the issues before we share it with the world. However, everyone in GDS should be familiar with what's in here now so please share and debate internally as much as you like!

  ### How do I update our goals?
  At the moment everything is being held in [this sheet](https://docs.google.com/spreadsheets/d/1QVBu88HKPg3b9nNZP2KjmNUSIeoR0G5NaYus_p2oSZE/edit#gid=1344198253) and then parsed and put into this app. If you'd like to adjust your team or group's goals, please consult with your team or group, leave comments or changes in that document and let [Peter Kappus](http://kapp.us) know when the data needs to be reimported.

  ### Why can't I just edit the data directly in this app?
  Someday you will be able to; for now, because we're making so many changes to the data, it's easier to talk about the changes, track them, and authenticate users, etc. in a Google Doc.

  ### How can I help ?
  Thanks for asking! There are lots of ways to help. The simplest is by using the tool and telling others about it. Feedback is very welcome. If you're in GDS please add your comments to [this doc](https://docs.google.com/document/d/1oR76UEjYT0DWFPk0wZVDaJxtAy5UevM2mIvoNmcZDCw/edit).  Are you an **engineer**? The code is all on [github](https://github.com/peterkappus/panoflex) and pull-requests are more than welcome! Are you a **content designer**, **user researcher**, **designer**, or **service deisgner**? Please get in touch; we'd love your help!

  ### Why are there so many exclamation marks in this FAQ?
  Enthusiasm works! Also, I was raised in America...
