<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
javascript:
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Goal', 'Status'],
      ["Not started",     #{goals.where(status: 0).count}],
      ["On track",     #{goals.where(status: 1).count}],
      ['Off track',     #{goals.where(status: 2).count}],
      ['Major Delay',     #{goals.where(status: 3).count}],
      ['Delivered',     #{goals.where(status: 4).count}]
    ]);

    var options = {
      pieHole: 0.4, chartArea: {left:10,top:10,width:'90%',height:'90%'},legend: {position: 'right'}, colors: ['#6F777B','#006435','#FFBF47','#B10E1E','#005EA5']
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);
  }
</script>

/ uncomment when ready to show pie
h3 Goals by status
#donutchart style="width: 100%;"
