.vacancy
  background-color:  #ffa !important

.headings h2
  border-bottom: 1px solid #eee

.slug
  padding: 1px 2rem
  height: 30rem
  margin-bottom: 3rem
  display: block
  border-radius: .5rem
  background: #eee
  box-shadow: 1px 1px 5px #555
  cursor: pointer

  h2
    height: 7.5rem
    border-bottom: 1px solid #ccc

  ul
    padding-left: 0
    li
      list-style-type: none
      font-size: 2rem
      padding-left: 0

.slug:hover
  background-color: #ddd
