@import "_colours"
@import "_font_stack"
@import "_measurements"

// Mixins
@import "_conditionals"
@import "_device-pixels"
@import "_grid_layout"

// Inline block mixin, clearfix placeholder
@import "_shims"

@import "_typography"

// Mixins to generate components (chunks of UI)
@import "design-patterns/_alpha-beta"
@import "design-patterns/_buttons"
//@import "design-patterns/breadcrumbs"


.big_goals
  h2
    font-size: 4.5rem

.phase-banner-alpha
  @include phase-banner
  background: $white
  padding: 10px 0 8px

  @include media(tablet)
    padding-bottom: 10px

  border-bottom: 1px solid $border-colour

  .phase-tag
    @include phase-tag

.button
  @include button

.button-start
  font-size: 24px
  line-height: 1.25
  font-weight: 700
  font-family: "nta", Arial, sans-serif
  font-weight: 700
  text-transform: none
  /*
    background-image: url("/public/images/icons/icon-pointer.png")
    background-repeat: no-repeat
    background-position: 100% 50%
    padding: 0.3684210526em 2.1578947368em 0.2105263158em 0.8421052632em

@media print
  .noprint, .header-global
    display: none !important
  a
    text-decoration: none
  a::after
    content: none !important

  .signage
    h1
      font-size: 12rem
    h2, p.lead
      font-size: 3rem
    p
      font-size: 3rem
    h3
      margin-top: 4rem

  .page-break
    page-break-before: always

  ol.nice_list
    li::before
      min-width: 35px !important

@media screen and (max-width: 415px)
  ol.nice_list li::before
    text-align: left !important
    font-size: 20px !important

@media screen
  .print_only
    display: none

  ol.nice_list.goals
    h3
      font-size: 25px
      line-height: 3rem

.clear
  clear: both

ol.nice_list
  width: 100%
  counter-reset: item
  padding-left: 0
  margin: 0
  display: inline-block
  padding-bottom: 1rem
  h3
    margin-top: 0
    margin-bottom: 0
  small
    color: #555
    font-size: 1.6rem
    font-weight: 400
    display: block
  .smaller
    color: #888
    font-weight: 200
    font-size: 1.4rem
  li
    clear: both
    display: block
    padding-top: 10px
  .row
    margin-top: 3rem

  li:before
    content: counters(item, ".") " "
    counter-increment: item
    float: left
    display: inline-block
    margin-right: 15px
    margin-bottom: 15px
    text-align: right
    font-size: 2.5rem
    min-width: 35px
    font-weight: 700
    line-height: 1rem

.group_well
  clear:both

ul.biglist
  list-style-type: none
  padding-left: 2rem
  li
    font-size: 1.5rem

.padded-row
  margin-top: 5rem

body
  padding-top: 0 !important

h1, h2, h3
  color: #000

h1
  @include bold-48
h2
  @include bold-36

/* yep, using the same style for now...*/
h3, p.lead
  @include core-24


#footer
  margin-top: 5rem

.deadline
  font-size: 1.25rem

// for now, override GOV.UK colors
a.btn-sm
  color: #fff !important


.vacancy
  background-color:  #ffa !important

.mini-edit
  display: inline
  font-size: 1.5rem
  color: #999
  margin-left: 0.5rem

.headings h2
  border-bottom: 1px solid #eee

.bignum_suffix
  @include bold-36
  display: inline
  margin-left: 1rem

input.bignum
  font-size: 4rem
  width: 10rem !important
  height: 7rem

textarea.bigtext
  font-size: 2rem
  width: 100%
  height: 10rem


h2.score
  font-size: 5rem
  color: #147
  font-family: "nta", Arial, sans-serif
  text-align: center


/*TODO: DRY up our scores css */

.sub_score
  text-align: center
  .amount
    font-size: 4.5rem
    color: #147
  .date
    font-size: 1rem
    color: #444

.big_score
  text-align: center
  .amount
    font-size: 10rem
    font-weight: 800
    text-color: #009
  .date
    font-size: 1rem
    color: #444

.goal_controls
  margin: 3rem 0 4rem 0
  .btn-sm
    margin: 0 1rem 0 0
